<!-- Created by luongvanlam on 1/26/16. -->

<div class="card">
    <div class="lv-header-alt clearfix">
        <h2 class="lvh-label hidden-xs"><%- title %></h2>

        <div class="lvh-search">
            <input type="text" placeholder="Start typing..." class="lvhs-input" id="company-search-bar">

            <i class="lvh-search-close">×</i>
        </div>

        <ul class="lv-actions actions">
            <li>
                <a href="#users" data-toggle="tooltip" data-placement="top"
                   data-original-title="Làm mới danh sách">
                    <i class="zmdi zmdi-refresh"></i>
                </a>
            </li>
            <li class="hidden" id="li-hidden">
                <a role="button" data-toggle="tooltip" data-placement="top" data-original-title="Xóa các mục đánh dấu"
                   id="btn-delSelection">
                    <i class="zmdi zmdi-delete"></i>
                </a>
            </li>
        </ul>
    </div>

    <div class="card-body table-responsive" style=" min-height:200px">
        <!--<form id="userForm">-->
        <table class="table table-hover table-condensed table-bordered table-fix" style="table-layout: fixed;">
            <thead>
            <tr>
                <th data-sort="none" sortName="name" role="button" class="text-center bgm-orange c-white filter"
                    data-original-title="Click để sắp xếp dữ liệu tăng dần/giảm dần" data-container="body"
                    data-toggle="tooltip" data-placement="top">
                    <i data-toggle="tooltip" data-placement="top" data-original-title="Sắp xếp tăng dần"
                       class="zmdi zmdi-sort-asc"></i>
                    <i data-toggle="tooltip" data-placement="top" data-original-title="Sắp xếp giảm dần"
                       class="zmdi zmdi-sort-desc"></i>
                    <span id="text_user_name"></span>
                </th>
                <th data-sort="none" sortName="displayName" role="button" class="text-center bgm-orange c-white filter"
                    data-original-title="Click để sắp xếp dữ liệu tăng dần/giảm dần" data-container="body"
                    data-toggle="tooltip" data-placement="top">
                    <i data-toggle="tooltip" data-placement="top" data-original-title="Sắp xếp tăng dần"
                       class="zmdi zmdi-sort-asc"></i>
                    <i data-toggle="tooltip" data-placement="top" data-original-title="Sắp xếp giảm dần"
                       class="zmdi zmdi-sort-desc"></i>
                    <span id="text_display_name"></span>
                </th>
                <th data-sort="none" sortName="email" role="button" class="text-center bgm-orange c-white filter"
                    data-original-title="Click để sắp xếp dữ liệu tăng dần/giảm dần" data-container="body"
                    data-toggle="tooltip" data-placement="top">
                    <i data-toggle="tooltip" data-placement="top" data-original-title="Sắp xếp tăng dần"
                       class="zmdi zmdi-sort-asc"></i>
                    <i data-toggle="tooltip" data-placement="top" data-original-title="Sắp xếp giảm dần"
                       class="zmdi zmdi-sort-desc"></i>
                    <span id="text_email"></span>
                </th>
                <th class="text-center bgm-orange c-white w-140" id="text_status"></th>
                <th class="text-center bgm-orange c-white w-80" id="text_actions"></th>
            </tr>
            </thead>

            <tbody>
            <tr id="searchForm">
                <td><input class="form-control searchColumn" type="text" id="search_name" name="name"
                           placeholder="vd: lamlv"></td>
                <td><input class="form-control searchColumn" type="text" id="search_displayName"
                           name="displayName"
                           placeholder="vd: Trần Văn"></td>
                <td><input class="form-control searchColumn" type="text" id="search_email" name="email"
                           placeholder="vd: john@bbc.com"></td>
                <td>
                    <div>
                        <select class="selectpicker searchColumn" name="status" id="search_status">
                            <option selected value="2">Tất cả</option>
                            <option value="1">Kích hoạt</option>
                            <option value="0">Vô hiệu hoá</option>
                        </select>
                    </div>
                </td>
                <td>
                    <button type="button" class="btn btn-primary btn-block waves-effect" id="btn-search" name="btn-search">
                        <i class="zmdi zmdi-search"></i></button>
                </td>
            </tr>

            <% if(myUser.length == 0){ %>
            <script> var isNullUser = true;</script>
            <% } else{ %>
            <script> var isNullUser = false;</script>
            <% myUser.forEach(function(element, index) { %>
            <tr>
                <td><%- element.name %></td>
                <td><%- element.displayName %></td>
                <td><%- element.email %></td>
                <td>
                    <div class="checkbox text-center" style="margin: 0 auto">
                        <label>
                            <input id="cpIndex" disabled name="cpIndex" type="checkbox"
                                   class="select-box" <%- (element.status ? 'checked' : ''); %> />
                            <i class="input-helper"></i>
                        </label>
                    </div>
                </td>
                <td class="text-center">
                    <a class="p-t-3 btn-flat-bg" href="/#users/<%- element._id %>/edit" data-toggle="tooltip"
                       data-placement="top" data-original-title="Sửa"><i class="zmdi zmdi-edit green f-17"></i></a>
                </td>
            </tr>
            <% })} %>

            </tbody>
        </table>
        <!--</form>-->
        <% if(paging.pageCount > 1){ %>
        <% include ../paging.ejs %>
        <% } %>
    </div>
</div>